{"openapi":"3.1.0","info":{"title":"APIbase — Universal API Hub for AI Agents","version":"2.1.0","description":"APIbase aggregates, normalizes, and provides APIs from hundreds of businesses in a unified format optimized for AI agent consumption. Search flights, trade prediction markets, check weather, and more — all via a single REST API or MCP endpoint. Supports dual-rail payments: x402 (USDC on Base) and MPP (USDC on Tempo).","x-guidance":"Use POST /api/v1/tools/{tool_id}/call to invoke any tool. Send Authorization: Bearer <api_key> header. Tool catalog at GET /api/v1/tools. MCP endpoint at /mcp. Payment: 402 responses include both x402 body and WWW-Authenticate: Payment header (MPP). Agent auto-registers on first request.","contact":{"name":"APIbase","url":"https://apibase.pro"}},"x-service-info":{"categories":["business","crypto","developer","device","education","entertainment","finance","health","infrastructure","jobs","legal","location","logistics","marketing","media","messaging","music","news","podcasts","search","social","space","travel","weather","world"],"docs":{"homepage":"https://apibase.pro","apiReference":"https://apibase.pro/.well-known/openapi.json","llms":"https://apibase.pro/llms.txt"}},"servers":[{"url":"https://apibase.pro","description":"Production"}],"components":{"schemas":{"ToolRequest":{"type":"object","additionalProperties":true}}},"paths":{"/api/v1/tools/weather.get_current/call":{"post":{"operationId":"weather_get_current","summary":"Get Current Weather","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/weather.get_forecast/call":{"post":{"operationId":"weather_get_forecast","summary":"Get Weather Forecast","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/weather.get_alerts/call":{"post":{"operationId":"weather_get_alerts","summary":"Get Weather Alerts","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/weather.get_history/call":{"post":{"operationId":"weather_get_history","summary":"Get Historical Weather","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/weather.air_quality/call":{"post":{"operationId":"weather_air_quality","summary":"Get Air Quality","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/weather.geocode/call":{"post":{"operationId":"weather_geocode","summary":"Geocode Location","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/weather.compare/call":{"post":{"operationId":"weather_compare","summary":"Compare Weather","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/crypto.get_price/call":{"post":{"operationId":"crypto_get_price","summary":"Get Crypto Prices","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/coingecko.get_market/call":{"post":{"operationId":"coingecko_get_market","summary":"Get Crypto Market Data","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/crypto.coin_detail/call":{"post":{"operationId":"crypto_coin_detail","summary":"Get Coin Details","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/crypto.price_history/call":{"post":{"operationId":"crypto_price_history","summary":"Get Crypto Price History","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/crypto.trending/call":{"post":{"operationId":"crypto_trending","summary":"Get Trending Coins","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/crypto.global/call":{"post":{"operationId":"crypto_global","summary":"Get Global Crypto Stats","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/crypto.dex_pools/call":{"post":{"operationId":"crypto_dex_pools","summary":"Get DEX Pools","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/crypto.token_by_address/call":{"post":{"operationId":"crypto_token_by_address","summary":"Get Token by Address","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/crypto.search/call":{"post":{"operationId":"crypto_search","summary":"Search Cryptocurrencies","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.search/call":{"post":{"operationId":"polymarket_search","summary":"Search Prediction Markets","x-payment-info":{"amount":"500","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.000500 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.000500"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.market_detail/call":{"post":{"operationId":"polymarket_market_detail","summary":"Get Market Details","x-payment-info":{"amount":"500","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.000500 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.000500"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.prices/call":{"post":{"operationId":"polymarket_prices","summary":"Get Market Price","x-payment-info":{"amount":"500","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.000500 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.000500"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.price_history/call":{"post":{"operationId":"polymarket_price_history","summary":"Get Market Price History","x-payment-info":{"amount":"500","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.000500 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.000500"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.get_orderbook/call":{"post":{"operationId":"polymarket_get_orderbook","summary":"Get Order Book","x-payment-info":{"amount":"500","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.000500 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.000500"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.trending/call":{"post":{"operationId":"polymarket_trending","summary":"Get Trending Markets","x-payment-info":{"amount":"500","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.000500 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.000500"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.place_order/call":{"post":{"operationId":"polymarket_place_order","summary":"Place Order","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.cancel_order/call":{"post":{"operationId":"polymarket_cancel_order","summary":"Cancel Order","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.open_orders/call":{"post":{"operationId":"polymarket_open_orders","summary":"Get Open Orders","x-payment-info":{"amount":"500","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.000500 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.000500"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.trade_history/call":{"post":{"operationId":"polymarket_trade_history","summary":"Get Trade History","x-payment-info":{"amount":"500","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.000500 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.000500"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/polymarket.balance/call":{"post":{"operationId":"polymarket_balance","summary":"Get Balance","x-payment-info":{"amount":"500","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.000500 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.000500"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/sabre.search_flights/call":{"post":{"operationId":"sabre_search_flights","summary":"Search Flights (Sabre)","x-payment-info":{"amount":"10000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.010000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.010000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/sabre.destination_finder/call":{"post":{"operationId":"sabre_destination_finder","summary":"Find Cheap Destinations","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/sabre.airline_lookup/call":{"post":{"operationId":"sabre_airline_lookup","summary":"Airline Lookup (Sabre)","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/sabre.travel_themes/call":{"post":{"operationId":"sabre_travel_themes","summary":"Get Travel Themes","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aviasales.search_flights/call":{"post":{"operationId":"aviasales_search_flights","summary":"Search Flights (Aviasales)","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aviasales.price_calendar/call":{"post":{"operationId":"aviasales_price_calendar","summary":"Flight Price Calendar","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aviasales.cheap_flights/call":{"post":{"operationId":"aviasales_cheap_flights","summary":"Find Cheap Flights","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aviasales.popular_routes/call":{"post":{"operationId":"aviasales_popular_routes","summary":"Popular Flight Routes","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aviasales.nearby_destinations/call":{"post":{"operationId":"aviasales_nearby_destinations","summary":"Nearby Destinations","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aviasales.airport_lookup/call":{"post":{"operationId":"aviasales_airport_lookup","summary":"Airport Lookup","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/hyperliquid.market_data/call":{"post":{"operationId":"hyperliquid_market_data","summary":"Hyperliquid Market Data","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/hyperliquid.order_book/call":{"post":{"operationId":"hyperliquid_order_book","summary":"Hyperliquid Order Book","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/hyperliquid.klines/call":{"post":{"operationId":"hyperliquid_klines","summary":"Hyperliquid Klines","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/hyperliquid.positions/call":{"post":{"operationId":"hyperliquid_positions","summary":"Hyperliquid Positions","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/hyperliquid.account/call":{"post":{"operationId":"hyperliquid_account","summary":"Hyperliquid Account","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/hyperliquid.vault/call":{"post":{"operationId":"hyperliquid_vault","summary":"Hyperliquid Vault","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/ticketmaster.events_search/call":{"post":{"operationId":"ticketmaster_events_search","summary":"Search Events","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/ticketmaster.event_details/call":{"post":{"operationId":"ticketmaster_event_details","summary":"Get Event Details","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/ticketmaster.events_nearby/call":{"post":{"operationId":"ticketmaster_events_nearby","summary":"Find Nearby Events","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/ticketmaster.artist_events/call":{"post":{"operationId":"ticketmaster_artist_events","summary":"Get Artist Events","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/ticketmaster.venue_events/call":{"post":{"operationId":"ticketmaster_venue_events","summary":"Get Venue Events","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/ticketmaster.events_trending/call":{"post":{"operationId":"ticketmaster_events_trending","summary":"Get Trending Events","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/ticketmaster.events_categories/call":{"post":{"operationId":"ticketmaster_events_categories","summary":"Get Event Categories","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/tmdb.movie_search/call":{"post":{"operationId":"tmdb_movie_search","summary":"Search Movies & TV","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/tmdb.movie_details/call":{"post":{"operationId":"tmdb_movie_details","summary":"Get Movie Details","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/tmdb.movie_discover/call":{"post":{"operationId":"tmdb_movie_discover","summary":"Discover Movies & TV","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/tmdb.movie_trending/call":{"post":{"operationId":"tmdb_movie_trending","summary":"Get Trending Movies & TV","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/tmdb.movie_similar/call":{"post":{"operationId":"tmdb_movie_similar","summary":"Get Similar Movies","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/tmdb.movie_person/call":{"post":{"operationId":"tmdb_movie_person","summary":"Search Person / Filmography","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/tmdb.movie_where_to_watch/call":{"post":{"operationId":"tmdb_movie_where_to_watch","summary":"Where to Watch","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/finance.exchange_rates/call":{"post":{"operationId":"finance_exchange_rates","summary":"Get Exchange Rates","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/finance.ecb_rates/call":{"post":{"operationId":"finance_ecb_rates","summary":"Get ECB Exchange Rates","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/finance.economic_indicator/call":{"post":{"operationId":"finance_economic_indicator","summary":"Get Economic Indicator","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/finance.country_data/call":{"post":{"operationId":"finance_country_data","summary":"Get Country Economic Data","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/finance.treasury_data/call":{"post":{"operationId":"finance_treasury_data","summary":"Get US Treasury Data","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/finance.validate_iban/call":{"post":{"operationId":"finance_validate_iban","summary":"Validate IBAN","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/music.artist_search/call":{"post":{"operationId":"music_artist_search","summary":"Search Music Artists","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/music.artist_details/call":{"post":{"operationId":"music_artist_details","summary":"Get Artist Details","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/music.release_search/call":{"post":{"operationId":"music_release_search","summary":"Search Music Releases","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/music.release_details/call":{"post":{"operationId":"music_release_details","summary":"Get Release Details","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/music.recording_search/call":{"post":{"operationId":"music_recording_search","summary":"Search Music Recordings","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/music.fresh_releases/call":{"post":{"operationId":"music_fresh_releases","summary":"Get Fresh Music Releases","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/music.radio_search/call":{"post":{"operationId":"music_radio_search","summary":"Search Radio Stations","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aster.exchange_info/call":{"post":{"operationId":"aster_exchange_info","summary":"AsterDEX Exchange Info","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aster.market_data/call":{"post":{"operationId":"aster_market_data","summary":"AsterDEX Market Data","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aster.order_book/call":{"post":{"operationId":"aster_order_book","summary":"AsterDEX Order Book","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aster.klines/call":{"post":{"operationId":"aster_klines","summary":"AsterDEX Klines","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/jobs.salary_data/call":{"post":{"operationId":"jobs_salary_data","summary":"Get Salary Data","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/jobs.occupation_search/call":{"post":{"operationId":"jobs_occupation_search","summary":"Search Occupations","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/jobs.occupation_details/call":{"post":{"operationId":"jobs_occupation_details","summary":"Get Occupation Details","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/jobs.esco_search/call":{"post":{"operationId":"jobs_esco_search","summary":"Search EU Skills & Occupations","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/jobs.esco_details/call":{"post":{"operationId":"jobs_esco_details","summary":"Get EU Skill/Occupation Details","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/jobs.job_search/call":{"post":{"operationId":"jobs_job_search","summary":"Search Job Listings","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/education.paper_search/call":{"post":{"operationId":"education_paper_search","summary":"Search Academic Papers","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/education.paper_details/call":{"post":{"operationId":"education_paper_details","summary":"Get Paper Details","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/education.college_search/call":{"post":{"operationId":"education_college_search","summary":"Search US Colleges","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/education.college_details/call":{"post":{"operationId":"education_college_details","summary":"Get College Details","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/education.pubmed_search/call":{"post":{"operationId":"education_pubmed_search","summary":"Search PubMed","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/education.arxiv_search/call":{"post":{"operationId":"education_arxiv_search","summary":"Search arXiv Preprints","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/education.doi_lookup/call":{"post":{"operationId":"education_doi_lookup","summary":"Lookup DOI","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/geo.geocode/call":{"post":{"operationId":"geo_geocode","summary":"Geocode Address","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/geo.reverse_geocode/call":{"post":{"operationId":"geo_reverse_geocode","summary":"Reverse Geocode","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/geo.place_search/call":{"post":{"operationId":"geo_place_search","summary":"Search Places & POI","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/geo.autocomplete/call":{"post":{"operationId":"geo_autocomplete","summary":"Autocomplete Address","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/geo.routing/call":{"post":{"operationId":"geo_routing","summary":"Get Directions","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/geo.isochrone/call":{"post":{"operationId":"geo_isochrone","summary":"Get Isochrone","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/geo.ip_geolocation/call":{"post":{"operationId":"geo_ip_geolocation","summary":"IP Geolocation","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aipush.setup_website/call":{"post":{"operationId":"aipush_setup_website","summary":"Setup Website for AI Marketing","x-payment-info":{"amount":"1000000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$1.000000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"1.000000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aipush.website_status/call":{"post":{"operationId":"aipush_website_status","summary":"Check Website Status","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aipush.generate_page/call":{"post":{"operationId":"aipush_generate_page","summary":"Generate AI Marketing Page","x-payment-info":{"amount":"50000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.050000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.050000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aipush.list_pages/call":{"post":{"operationId":"aipush_list_pages","summary":"List Generated Pages","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aipush.page_content/call":{"post":{"operationId":"aipush_page_content","summary":"Get Page Content","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aipush.website_profile/call":{"post":{"operationId":"aipush_website_profile","summary":"Get Website Business Profile","x-payment-info":{"amount":"10000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.010000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.010000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aipush.check_visibility/call":{"post":{"operationId":"aipush_check_visibility","summary":"Check AI Visibility Score","x-payment-info":{"amount":"100000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.100000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.100000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aipush.market_report/call":{"post":{"operationId":"aipush_market_report","summary":"Market Intelligence Report","x-payment-info":{"amount":"29990000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$29.990000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"29.990000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/aipush.market_report_status/call":{"post":{"operationId":"aipush_market_report_status","summary":"Market Report Status","x-payment-info":{"amount":"0","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.000000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.000000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/diffbot.product_extract/call":{"post":{"operationId":"diffbot_product_extract","summary":"Extract Product Data","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/diffbot.page_analyze/call":{"post":{"operationId":"diffbot_page_analyze","summary":"Analyze Web Page","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/diffbot.article_extract/call":{"post":{"operationId":"diffbot_article_extract","summary":"Extract Article Text","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/diffbot.search/call":{"post":{"operationId":"diffbot_search","summary":"Search Knowledge Graph","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/whois.lookup/call":{"post":{"operationId":"whois_lookup","summary":"WHOIS Lookup","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/whois.dns_lookup/call":{"post":{"operationId":"whois_dns_lookup","summary":"DNS Lookup","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/whois.availability/call":{"post":{"operationId":"whois_availability","summary":"Check Domain Availability","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/whois.reverse/call":{"post":{"operationId":"whois_reverse","summary":"Reverse WHOIS Search","x-payment-info":{"amount":"8000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.008000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.008000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/spoonacular.recipe_search/call":{"post":{"operationId":"spoonacular_recipe_search","summary":"Search Recipes","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/spoonacular.recipe_details/call":{"post":{"operationId":"spoonacular_recipe_details","summary":"Get Recipe Details","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/spoonacular.by_ingredients/call":{"post":{"operationId":"spoonacular_by_ingredients","summary":"Find Recipes by Ingredients","x-payment-info":{"amount":"3000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.003000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.003000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/spoonacular.ingredient_search/call":{"post":{"operationId":"spoonacular_ingredient_search","summary":"Search Ingredients","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/spoonacular.analyze_recipe/call":{"post":{"operationId":"spoonacular_analyze_recipe","summary":"Analyze Recipe Nutrition","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/nasa.apod/call":{"post":{"operationId":"nasa_apod","summary":"Astronomy Picture of the Day","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/nasa.neo_feed/call":{"post":{"operationId":"nasa_neo_feed","summary":"Near-Earth Asteroids Feed","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/nasa.donki_flr/call":{"post":{"operationId":"nasa_donki_flr","summary":"Solar Flare Events","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/nasa.epic/call":{"post":{"operationId":"nasa_epic","summary":"Earth Camera (EPIC)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/nasa.image_search/call":{"post":{"operationId":"nasa_image_search","summary":"Search NASA Images & Videos","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/jpl.close_approaches/call":{"post":{"operationId":"jpl_close_approaches","summary":"Asteroid Close Approaches","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/jpl.fireballs/call":{"post":{"operationId":"jpl_fireballs","summary":"Fireball Events","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/jpl.small_body/call":{"post":{"operationId":"jpl_small_body","summary":"Small Body Lookup","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/jpl.impact_risk/call":{"post":{"operationId":"jpl_impact_risk","summary":"Asteroid Impact Risk (Sentry)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/rawg.game_search/call":{"post":{"operationId":"rawg_game_search","summary":"Search Video Games","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/rawg.game_details/call":{"post":{"operationId":"rawg_game_details","summary":"Get Game Details","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/rawg.screenshots/call":{"post":{"operationId":"rawg_screenshots","summary":"Get Game Screenshots","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/rawg.store_links/call":{"post":{"operationId":"rawg_store_links","summary":"Get Game Store Links","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/rawg.game_series/call":{"post":{"operationId":"rawg_game_series","summary":"Get Game Series","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/igdb.game_search/call":{"post":{"operationId":"igdb_game_search","summary":"Search Games (IGDB)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/igdb.game_details/call":{"post":{"operationId":"igdb_game_details","summary":"Get Game Details (IGDB)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/igdb.company_info/call":{"post":{"operationId":"igdb_company_info","summary":"Get Company Info (IGDB)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/igdb.platform_info/call":{"post":{"operationId":"igdb_platform_info","summary":"Get Platform Info (IGDB)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/igdb.game_media/call":{"post":{"operationId":"igdb_game_media","summary":"Get Game Media (IGDB)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/qrserver.generate/call":{"post":{"operationId":"qrserver_generate","summary":"Generate QR Code","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/qrserver.read/call":{"post":{"operationId":"qrserver_read","summary":"Read QR Code","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/upc.lookup/call":{"post":{"operationId":"upc_lookup","summary":"Product Barcode Lookup","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/upc.search/call":{"post":{"operationId":"upc_search","summary":"Product Search by Name","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/ip.lookup/call":{"post":{"operationId":"ip_lookup","summary":"IP Address Lookup","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/ip.bulk_lookup/call":{"post":{"operationId":"ip_bulk_lookup","summary":"Bulk IP Lookup","x-payment-info":{"amount":"5000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.005000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.005000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/earthquake.search/call":{"post":{"operationId":"earthquake_search","summary":"Search Earthquakes","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/earthquake.feed/call":{"post":{"operationId":"earthquake_feed","summary":"Real-Time Earthquake Feed","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/earthquake.count/call":{"post":{"operationId":"earthquake_count","summary":"Count Earthquakes","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/anime.search/call":{"post":{"operationId":"anime_search","summary":"Search Anime","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/anime.details/call":{"post":{"operationId":"anime_details","summary":"Get Anime Details","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/manga.details/call":{"post":{"operationId":"manga_details","summary":"Get Manga Details","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/anime.characters/call":{"post":{"operationId":"anime_characters","summary":"Get Anime Characters","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/anime.top/call":{"post":{"operationId":"anime_top","summary":"Top Anime Rankings","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/books.isbn_lookup/call":{"post":{"operationId":"books_isbn_lookup","summary":"ISBN Book Lookup","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/books.search/call":{"post":{"operationId":"books_search","summary":"Search Books","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/books.work_details/call":{"post":{"operationId":"books_work_details","summary":"Get Book Work Details","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/books.author/call":{"post":{"operationId":"books_author","summary":"Get Author Details","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/email.validate/call":{"post":{"operationId":"email_validate","summary":"Validate Email Address","x-payment-info":{"amount":"25000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.025000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.025000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/shorturl.create/call":{"post":{"operationId":"shorturl_create","summary":"Shorten URL (Short.io)","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/shorturl.stats/call":{"post":{"operationId":"shorturl_stats","summary":"Short URL Stats (Short.io)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/exchangerate.latest/call":{"post":{"operationId":"exchangerate_latest","summary":"Latest Exchange Rates","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/exchangerate.convert/call":{"post":{"operationId":"exchangerate_convert","summary":"Convert Currency","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/calendarific.holidays/call":{"post":{"operationId":"calendarific_holidays","summary":"World Holidays (Calendarific)","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.002000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.002000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/weather_alerts.active/call":{"post":{"operationId":"weather_alerts_active","summary":"Active US Weather Alerts (NWS)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/weather_alerts.by_area/call":{"post":{"operationId":"weather_alerts_by_area","summary":"Weather Alerts by US State (NWS)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/holidays.by_country/call":{"post":{"operationId":"holidays_by_country","summary":"Public Holidays by Country (Nager.Date)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/holidays.next/call":{"post":{"operationId":"holidays_next","summary":"Next Public Holidays (Nager.Date)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/vin.decode/call":{"post":{"operationId":"vin_decode","summary":"Decode VIN Number (NHTSA)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/vin.models/call":{"post":{"operationId":"vin_models","summary":"Vehicle Models by Make/Year (NHTSA)","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/country.search/call":{"post":{"operationId":"country_search","summary":"Search Country by Name","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/country.by_code/call":{"post":{"operationId":"country_by_code","summary":"Country by ISO Code","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/food.barcode/call":{"post":{"operationId":"food_barcode","summary":"Food Product by Barcode","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/food.search/call":{"post":{"operationId":"food_search","summary":"Search Food Products","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/openbeautyfacts.barcode/call":{"post":{"operationId":"openbeautyfacts_barcode","summary":"Cosmetics Product by Barcode","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/openbeautyfacts.search/call":{"post":{"operationId":"openbeautyfacts_search","summary":"Search Cosmetics Products","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/random.user/call":{"post":{"operationId":"random_user","summary":"Generate Random User Profile","x-payment-info":{"amount":"1000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent":"charge","method":"tempo","description":"$0.001000 USD per call","protocols":["x402","mpp"],"pricingMode":"fixed","price":"0.001000"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolRequest"}}}},"responses":{"200":{"description":"Tool execution result"},"402":{"description":"Payment Required"}}}},"/api/v1/tools/firms.fires/call":{"post":{"operationId":"firms_fires","summary":"Detect Fires by Satellite (NASA FIRMS)","x-payment-info":{"amount":"2000","currency":"0x20C000000000000000000000b9537d11c60E8b50","intent"
[...]
